*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}


.body {
    display: flex;
    gap: 190px;
    margin-top: 40px;
    justify-content: center;
}


.nav-menu {
    display: flex;
    gap: 48px;
    font-size: 16px;
    font-weight: 400;
}


.nav-menu p {
    margin-top: 10px;
  border-bottom: 2px solid transparent;
  transition: 0.4s;
}

.nav-menu p:hover {
  border-bottom: 2px solid black;
}