* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.3s;
}


.body {
    display: flex;
    gap: 190px;
    margin-top: 30px;
    justify-content: center;
}


.nav-menu {
    display: flex;
    gap: 48px;
    font-size: 16px;
    font-weight: 400;
}


.nav-menu p {
    margin-top: 10px;
    border-bottom: 2px solid transparent;
    transition: 0.2s;
    cursor: pointer;
}

.nav-menu p:hover {
    border-bottom: 2px solid black;
    transform: scale(1.05);
}


.body input{
    width: 243px;
    height: 38px;
    padding-left: 20px;
    background-color:#F5F5F5;
    color: #282828;
    border: none;
    border-radius: 4px;
    margin-top: 0px;
    transition: 0.3s;
}


.body input:focus {
    transform: scale(1.1);
}


.body h1 {
    font-size: 24px;
    font-weight: 700;
}


.nav-menu-2 img {
    width: 25px;
    height: 25px;
    border-radius: 14px;
}


.img:hover {
    background-color: #F5F5F5;
}


.img {
    width: 37px;
    height: 37px;
    padding: 6px;
    border-radius: 18px;
}


.nav-menu-2 {
    display: flex;
    gap: 22px;
    margin-left: -150px;
    margin-top: 1px;
}


hr {
    margin-top: 20px;
}